# Kranken2

In [6]:
import pandas as pd

In [7]:
df = pd.read_table("~/1-Projects/WGS-Pipeline/result/kraken_out.txt")

In [10]:
df

,100.00,112,3,R,1,root
0,97.32,109,0,R1,131567,cellular organisms
1,97.32,109,0,D,2,Bacteria
2,97.32,109,0,D1,1783272,Terrabacteria group
3,97.32,109,0,P,1239,Firmicutes
4,97.32,109,3,C,91061,Bacilli
5,94.64,106,0,O,1385,Bacillales
6,94.64,106,0,F,90964,Staphylococcaceae
7,94.64,106,9,G,1279,Staphylococcus
8,85.71,96,43,S,1280,Staphylococcus aureus
9,47.32,53,15,S1,46170,Staphylococcus aureus subs...
10,10.71,12,12,S2,869816,Staphylococcus aureus su...
11,7.14,8,8,S2,1381115,Staphylococcus aureus su...
12,3.57,4,4,S2,548473,Staphylococcus aureus su...
13,1.79,2,2,S2,1006543,Staphylococcus aureus su...
14,1.79,2,2,S2,1392476,Staphylococcus aureus su...
15,1.79,2,1,S2,523796,Staphylococcus aureus su...
16,0.89,1,1,S3,1155084,Staphylococcus aureus ...
17,0.89,1,1,S2,1118959,Staphylococcus aureus su...
18,0.89,1,1,S2,685039,Staphylococcus aureus su...
19,0.89,1,1,S2,1028799,Staphylococcus aureus su...
20,0.89,1,1,S2,663951,Staphylococcus aureus su...
21,0.89,1,1,S2,548470,Staphylococcus aureus su...
22,0.89,1,1,S2,1194085,Staphylococcus aureus su...
23,0.89,1,0,S2,1196216,Staphylococcus aureus su...
24,0.89,1,1,S3,1193576,Staphylococcus aureus ...
25,0.89,1,1,S2,1368166,Staphylococcus aureus su...
26,0.89,1,1,S,1282,Staphylococcus epidermidis

In [11]:
df.columns = ["%", "reads", "lreads", "lvl", "tid", "name"]

In [12]:
df

,%,reads,lreads,lvl,tid,name
0,97.32,109,0,R1,131567,cellular organisms
1,97.32,109,0,D,2,Bacteria
2,97.32,109,0,D1,1783272,Terrabacteria group
3,97.32,109,0,P,1239,Firmicutes
4,97.32,109,3,C,91061,Bacilli
5,94.64,106,0,O,1385,Bacillales
6,94.64,106,0,F,90964,Staphylococcaceae
7,94.64,106,9,G,1279,Staphylococcus
8,85.71,96,43,S,1280,Staphylococcus aureus
9,47.32,53,15,S1,46170,Staphylococcus aureus subs...
10,10.71,12,12,S2,869816,Staphylococcus aureus su...
11,7.14,8,8,S2,1381115,Staphylococcus aureus su...
12,3.57,4,4,S2,548473,Staphylococcus aureus su...
13,1.79,2,2,S2,1006543,Staphylococcus aureus su...
14,1.79,2,2,S2,1392476,Staphylococcus aureus su...
15,1.79,2,1,S2,523796,Staphylococcus aureus su...
16,0.89,1,1,S3,1155084,Staphylococcus aureus ...
17,0.89,1,1,S2,1118959,Staphylococcus aureus su...
18,0.89,1,1,S2,685039,Staphylococcus aureus su...
19,0.89,1,1,S2,1028799,Staphylococcus aureus su...
20,0.89,1,1,S2,663951,Staphylococcus aureus su...
21,0.89,1,1,S2,548470,Staphylococcus aureus su...
22,0.89,1,1,S2,1194085,Staphylococcus aureus su...
23,0.89,1,0,S2,1196216,Staphylococcus aureus su...
24,0.89,1,1,S3,1193576,Staphylococcus aureus ...
25,0.89,1,1,S2,1368166,Staphylococcus aureus su...
26,0.89,1,1,S,1282,Staphylococcus epidermidis

In [18]:
df1 = df.loc[df["lvl"] == "S"]

In [19]:
df1

,%,reads,lreads,lvl,tid,name
8,85.71,96,43,S,1280,Staphylococcus aureus
26,0.89,1,1,S,1282,Staphylococcus epidermidis

In [23]:
df1["%"].max()

85.71

In [28]:
df2 = df1.loc[df1["%"] == df1["%"].max()]

In [33]:
df2 = df2.reset_index()

In [34]:
df2["tid"][0]

1280

In [14]:
from Bio import Entrez
Entrez.email = "jy.chen1@siat.ac.cn"  # Always tell NCBI who you are

In [15]:
handle = Entrez.efetch(db="Taxonomy", id="1280", retmode="xml")
records = Entrez.read(handle)

In [16]:
records[0].keys()

dict_keys(['TaxId', 'ScientificName', 'OtherNames', 'ParentTaxId', 'Rank', 'Division', 'GeneticCode', 'MitoGeneticCode', 'Lineage', 'LineageEx', 'CreateDate', 'UpdateDate', 'PubDate'])

In [17]:
records[0]["Lineage"]

'cellular organisms; Bacteria; Terrabacteria group; Firmicutes; Bacilli; Bacillales; Staphylococcaceae; Staphylococcus'

In [27]:
records[0]["ScientificName"]

'Staphylococcus aureus'

In [26]:
records[0]["LineageEx"]

[{'TaxId': '131567', 'ScientificName': 'cellular organisms', 'Rank': 'no rank'}, {'TaxId': '2', 'ScientificName': 'Bacteria', 'Rank': 'superkingdom'}, {'TaxId': '1783272', 'ScientificName': 'Terrabacteria group', 'Rank': 'clade'}, {'TaxId': '1239', 'ScientificName': 'Firmicutes', 'Rank': 'phylum'}, {'TaxId': '91061', 'ScientificName': 'Bacilli', 'Rank': 'class'}, {'TaxId': '1385', 'ScientificName': 'Bacillales', 'Rank': 'order'}, {'TaxId': '90964', 'ScientificName': 'Staphylococcaceae', 'Rank': 'family'}, {'TaxId': '1279', 'ScientificName': 'Staphylococcus', 'Rank': 'genus'}]

In [41]:
def parseKraken2(report):
    df = pd.read_table(report)
    df.columns = ["%", "reads", "lreads", "lvl", "tid", "name"]
    df1 = df.loc[df["lvl"] == "S"]
    df2 = df1.loc[df1["%"] == df1["%"].max()]
    df2 = df2.reset_index()
    tid = df2["tid"][0]
    handle = Entrez.efetch(db="Taxonomy", id=str(tid) , retmode="xml")
    records = Entrez.read(handle)
    taxa = records[0]["Lineage"] + "; " + records[0]["ScientificName"]
    return tid, taxa

In [42]:
report = "~/1-Projects/WGS-Pipeline/result/kraken_out.txt"

In [44]:
tid, taxa = parseKraken2(report)

In [45]:
tid

1280

In [46]:
taxa

'cellular organisms; Bacteria; Terrabacteria group; Firmicutes; Bacilli; Bacillales; Staphylococcaceae; Staphylococcus; Staphylococcus aureus'